{% extends "homepage.html" %}

{% block title %}Flasky - Information{% endblock %}

{% block page_content %}
<div class="content_user">
{% if name == "Guest" %}
<h1>Hi Guest! Welcome to this Page</h1>
<body>
<p>Your ip address: {{ ip }}</p>
<P>Your user-agent is: {{ ua }}</P>
<br>
<a class="login" href="#">你能在这里登陆或者注册</a>
</body>
{% else %}
<h1>Hi {{name}}! Welcome To Flasky</h1>
<body>
    <p>Your ip address: {{ ip }}</p>
    <P>Your user-agent is: {{ ua }}</P>
</body>
{% endif %}
</div>
{% endblock %}